a:link {
  text-decoration: none;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ===== TOP BAR ===== */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 6px;
  width: 250px;
  border: 2px solid #007bff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.search-bar select {
  padding: 5px;
  border: 2px solid #007bff;
}

.search-bar button {
  padding: 6px 15px;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.account {
  display: flex;
  gap: 20px;
}

.account a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #333;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: #f8f8f8;
}

.menu {
  display: flex;
  gap: 20px;
}
.menu select {
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

.settings {
  display: flex;
  gap: 10px;
}
.settings select {
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: none;
}
section {
  display: flex;
  gap: 20px;
  padding: 20px 30px;
}

.left {
  width: 20%;
  background: #f7f7f7;
  border-radius: 8px;
  padding: 15px 0;
  list-style: none;
}
.left li {
  padding: 12px 20px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
.left li a {
  text-decoration: none;
  color: #333;
  display: block;
}
.center {
  width: 60%;
  height: 420px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.center-text {
  position: absolute;
  top: 22%;
  left: 8%;
}
.center-text h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.center-text h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.center-text button {
  padding: 10px 20px;
  background: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}
.right {
  width: 20%;
  height: 420px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #E3F0FF;
}
.side-box {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
  background-color: #E3F0FF;
}
.side-box img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.side-box p {
   margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #555;
}
.join {
  width: 100%;
  padding: 10px;
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 6px;
  margin-bottom: 8px;
  font-size: 14px;
}

.login {
  width: 100%;
  padding: 10px;
  background: white;
  color: #1a73e8;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}
.offer {
  flex: 1;
  background: #f58220;
  color: white;
  border-radius: 8px;
  padding: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.quote {
  flex: 1;
  background: #55b1b1;
  color: white;
  border-radius: 8px;
  padding: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.deals-main{
    display: flex;
  border: 1px solid #e0e0e0; 
  border-radius: 8px;       
  overflow: hidden;         
  background-color: #fff;
}

.deals-p{
  color: #8B96A5;
}
.time{
  display: flex;
  gap: 10px;
  align-items: center;
}
.day{
  color: white;
  background-color: #606060;
  border-radius: 8px;
  width: 60px;  
  height: 60px; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}
.hour{
  color: white;
    background-color: #606060;
  border-radius: 8px;
  width: 60px; 
  height: 60px; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}
.min{
  color: white;
    background-color: #606060;
  border-radius: 8px;
  width: 60px; 
  height: 60px; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}
.sec{
  color: white;
    background-color: #606060;
  border-radius: 8px;
  width: 60px; 
  height: 60px; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}
 .number {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1;
}

 .label {
  font-size: 0.75rem;
  margin-top: 2px;
}

.deals-items {
  display: flex;
  flex-direction: row;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden; 
  background: #fff;
}

.discount-tag {
  background-color: #ffebee; 
  color: #ff4d6d;            
  padding: 4px 12px;
  border-radius: 20px;     
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}