a:link {
  text-decoration: none;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ===== TOP BAR ===== */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 6px;
  width: 250px;
  border: 2px solid #007bff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.search-bar select {
  padding: 5px;
  border: 2px solid #007bff;
}

.search-bar button {
  padding: 6px 15px;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.account {
  display: flex;
  gap: 20px;
}

.account a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #333;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: #f8f8f8;
}

.menu {
  display: flex;
  gap: 20px;
}
.menu select {
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

.settings {
  display: flex;
  gap: 10px;
}
.settings select {
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: none;
}
section {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  align-items: stretch;
  padding: 20px 30px; 
}

.left {
  width: 20%;
  list-style: none;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 8px;
}
.left li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.left li a {
  text-decoration: none;
  color: #333;
  display: block;
}
.center {
  width: 60%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background: url(Banner-board-800x420\ 2.png);
  background-size: cover;
}
.center img {
  display: block;
  width: 100%;
}
.center-text {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #222;
}
.center-text h3 {
  color: #000000;
  font-size: 1.2rem;
}
.center-text h1 {
  font-size: 2.5rem;
  margin: 10px 0;
  color: #333;
}
.center-text button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
.right {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
}
.side-box {
  width: 100%;
  background-color: #eff6ff;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
}
.side-box img {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.join {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 5px 0px;
  width: 100%;
  border-radius: 4px;
  border: none;
}
.login {
  background-color: white;
  color: #007bff;
  padding: 10px 20px;
  margin: 5px 0px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #ccc;
}
.offer {
  background-color: #ff9800;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 4px;  
}
.quote {
  background-color: #00bcd4;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 4px;
}
